In [272]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file)

FileNotFoundError: [Errno 2] File b'Resources/purchase_data.csv' does not exist: b'Resources/purchase_data.csv'

## Player Count

* Display the total number of players

In [142]:
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [273]:
pd.options.display.float_format = '${:,.2f}'.format
tot_players = purchase_data_df["SN"].nunique()
tot_players_df = pd.DataFrame({"Total Players":[tot_players]})

                            
tot_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [274]:
Number_of_Unique_Items = purchase_data_df["Item ID"].nunique()
Average_Purchase_Price = round(purchase_data_df["Price"].mean(), 2)
Total_Number_of_Purchases = purchase_data_df["Purchase ID"].count()
Total_Revenue = purchase_data_df["Price"].sum()

In [275]:
Summary_df = pd.DataFrame({"Number of Unique Items":[Number_of_Unique_Items], "Average Purchase Price":[Average_Purchase_Price], 
                           "Total Number of Purchases":[Total_Number_of_Purchases], "Total Revenue":[Total_Revenue]})
Summary_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,183,$3.05,780,"$2,379.77"

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [146]:
gender_totals_df = purchase_data_df.groupby('Gender')["SN"].nunique()
gender_totals_df

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [222]:
per_gender_df = gender_totals_df/tot_players*100

#print(pd.DataFrame(per_gender_df.round(2)))

In [148]:
Gender_Demo_df = pd.DataFrame({"Total Count": gender_totals_df,"Percentage of Players": per_gender_df.round(2)})
Gender_Demo_df

                       Total Count  Percentage of Players
Gender
Female                          81                  14.06
Male                           484                  84.03
Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [150]:
#Purchase Count By Gender
Pur_df = purchase_data_df.groupby("Gender") ["Item Name"].count()

Pur_df

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Item Name, dtype: int64

In [276]:
#Average Purchase Price By Gender
Avg_pur_price_by_gender_df = purchase_data_df.groupby("Gender") ["Price"].mean().round(2)

Avg_pur_price_by_gender_df

Gender
Female                  $3.20
Male                    $3.02
Other / Non-Disclosed   $3.35
Name: Price, dtype: float64

In [277]:
#Total Purchase Value
Avg_df = purchase_data_df.groupby("Gender") ["Price"].sum()
Avg_df

Gender
Female                    $361.94
Male                    $1,967.64
Other / Non-Disclosed      $50.19
Name: Price, dtype: float64

In [278]:
#Avg Total Purchase per Person
Avg_Pur_Tot_df = Avg_df/gender_totals_df 
Avg_Pur_Tot_df.round(2)

Gender
Female                  $4.47
Male                    $4.07
Other / Non-Disclosed   $4.56
dtype: float64

In [279]:
Purchase_Analysis_Final_df = pd.DataFrame({"Purchase Count":Pur_df, "Average Purchase Price":Avg_pur_price_by_gender_df, 
                           "Total Purchase Value":Avg_df, "Average Purchase Total per Person by Age Group":Avg_Pur_Tot_df.round(2)})
Purchase_Analysis_Final_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total per Person by Age Group
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [280]:
#Creating Bins
bins = [0, 9, 14, 19, 24, 30, 35, 39, 100]

# Create the ranges for the bins
age_range = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#computing count in every category
age_groups = purchase_data_df.groupby(pd.cut(purchase_data_df["Age"], bins, labels=age_range))["SN"].nunique()

#Computing percentage of each category
age_percentage = age_groups/tot_players*100

#Store age demographic count and percentage as new dataframe
demographics_df = pd.DataFrame({"Total Count": age_groups,"Percentage of Players": age_percentage.round(2)})
demographics_df

       Total Count  Percentage of Players
Age
<10             17                  $2.95
10-14           22                  $3.82
15-19          107                 $18.58
20-24          258                 $44.79
25-29          102                 $17.71
30-34           37                  $6.42
35-39           21                  $3.65
40+             12                  $2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [281]:
#Creating Bins
#bins = [0, 9, 14, 19, 24, 30, 35, 39, 100]

# Create the ranges for the bins
#age_range = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#Purchase count By Age
purchase_count_by_age = purchase_data_df.groupby(pd.cut(purchase_data_df["Age"], bins, labels=age_range))["Purchase ID"].count()

#Average Purchase Price By Age
avg_pur_price_by_age = purchase_data_df.groupby(pd.cut(purchase_data_df["Age"], bins, labels=age_range))["Price"].mean().round(2)

#Total Purchase by Age group
total_purchase_by_age = purchase_data_df.groupby(pd.cut(purchase_data_df["Age"], bins, labels=age_range))["Price"].sum()

#Avg Total Purchase per Person
Avg_total_purchase_person = total_purchase_by_age/age_groups

purchase_analysis_age = pd.DataFrame({"Purchase Count": purchase_count_by_age,"Average Purchase Price": avg_pur_price_by_age,
        "Total Purchase Value": total_purchase_by_age, "Avg Total Purchase per Person": Avg_total_purchase_person.round(2)})
purchase_analysis_age

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,136,$2.97,$403.32,$3.95
30-34,52,$2.99,$155.71,$4.21
35-39,27,$3.54,$95.64,$4.55
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [ ]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file)

## Player Count

* Display the total number of players


purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

purchase_data["Purchase ID"].count()

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame


Number_of_Unique_Items = purchase_data["Item Name"].nunique()
Average_Purchase_Price = round(purchase_data["Price"].mean(), 2)
Total_Number_of_Purchases = purchase_data["Purchase ID"].count()
Total_Revenue = purchase_data["Price"].sum()

Summary_df = pd.DataFrame({"Number of Unique Items":[Number_of_Unique_Items], "Average Purchase Price":[Average_Purchase_Price], 
                           "Total Number of Purchases":[Total_Number_of_Purchases], "Total Revenue":[Total_Revenue]})
Summary_df                          

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed




gender_totals_df = purchase_data_df.groupby('Gender')["SN"].nunique()
print(pd.DataFrame(gender_totals))

per_gender_df = gender_totals/576*100

print(pd.DataFrame(per_gender_df.round(2)))

Gender_Demo_df = pd.DataFrame({"Total Count": gender_totals,"Percentage of Players": per_gender_df.round(2)})
Gender_Demo_df


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

purchase_count = purchase_data_df.groupby(['Gender'])

purchase_count

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table




## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame



## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame





## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame





## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame